Redirect 301 /home/me.html /me
Redirect 301 /home/gizmos.html /gizmos
Redirect 301 /cv /cv.pdf
Redirect 301 /cv.html /cv.pdf
Redirect 301 /CV /cv.pdf
Redirect 301 /CV.pdf /cv.pdf
Redirect 301 /about-me /me
Redirect 301 /about-site /site
Redirect 301 /home /
Redirect 301 /404.html /404.shtml
Redirect 301 /410.html /410.shtml

Redirect 301 /research/oncepresent.pdf http://files.davidsanson.com/research/oncepresent.pdf
Redirect 301 /research/maximal-possibilities.pdf http://files.davidsanson.com/research/maximal-possibilities.pdf
Redirect 301 /research/presentism-and-truthmaking.pdf http://files.davidsanson.com/research/presentism-and-truthmaking.pdf
Redirect 301 /research/WayThingsWere.pdf http://files.davidsanson.com/research/WayThingsWere.pdf
Redirect 301 /research/dissertation.pdf http://files.davidsanson.com/research/dissertation.pdf
Redirect 301 /research/ArabicLiar.pdf http://files.davidsanson.com/research/ArabicLiar.pdf

Redirect gone /phil301w2009

Redirect 301 /philosophy301 /301
Redirect 301 /philosophyh101 /101
Redirect 301 /philh101 /101
Redirect 301 /philosophy101 /101
Redirect 301 /phil463 /463
Redirect 301 /philosophy463 /463
Redirect 301 /phil863 /863
Redirect 301 /philosophy863 /863
Redirect 301 /phil670 /670
Redirect 301 /philosophy670 /670
Redirect 301 /101 /101f2009/
Redirect 301 /863 /863w2010/
Redirect 301 /463 /463w2010/
Redirect 301 /670 /670f2010/
Redirect 301 /301 /301f2010/
Redirect 301 /250 /250s2011/
Redirect 301 /999 /999s2011/
Redirect 301 /999s2011/signup http://signupgenius.com/go/philosophy

ErrorDocument 404 /404.shtml
ErrorDocument 410 /410.shtml

Options -Indexes +FollowSymLinks +IncludesNOEXEC

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
