#Redirect 301 /index.html /home/
Redirect 301 /home/me.html /home/about-me
Redirect 301 /home/gizmos.html /home/gizmos

Redirect 301 /h101 /philh101
Redirect 301 /101 /philh101
Redirect 301 /philosophy301 /301
Redirect 301 /philosophyh101 /h101
Redirect 301 /philosophy101 /h101
Redirect 301 /phil463 /463
Redirect 301 /philosophy463 /463
Redirect 301 /phil863 /863
Redirect 301 /philosophy863 /863
Redirect 301 /phil670 /670
Redirect 301 /philosophy670 /670
Redirect 301 /863 /863w2010/
Redirect 301 /463 /463w2010/
Redirect 301 /670 /670f2010/
Redirect 301 /301 /301f2010/
Redirect 302 /home /
#Redirect 302 / http://dsanson.github.com/


DirectoryIndex index.html index.markdown
Options -Indexes +FollowSymLinks

RewriteEngine On

RewriteRule ^git/?$ /git/gitweb.cgi [R]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

ErrorDocument 404 404.html
