<h1 id="backlink">
    <a href="{{site.url}}">David Sanson</a> – <a href="{{site.url}}/courses">Courses</a>
</h1>
<h2 id="blog-title">
   <a href="{{base}}">{{sectiontitle}}</a>
</h2>
<nav>
    <ul>
        <li class="home"><a href="{{base}}">Home</a></li>
        <li class="syllabus"><a href="{{base}}/syllabus.html">Syllabus</a></li>
        <li class="readings"><a href="{{base}}/readings">Readings</a></li>
        <li class="assignments"><a href="{{base}}/assignments">Assignments</a></li>
    </ul>
</nav>
