<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'sanson',
  interval: 6000,
  title: 'Philosophy 670 Tweets',
  subject: '',
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#336699',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#423d8a'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'all'
  }
}).render().start();
</script>