html {
min-height:none;
}

body {
     font-family: Helvetica, Verdana, sans-serif;
     background: white;
	 margin: 0px !important;
	margin-top: -1px !important;
}

#content {
    margin: 0px;
	max-width: none;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
	-webkit-box-shadow: 0px 0px 0px #2B3856;
	-webkit-border-radius: 0px;
}

header {
	display: block;
    margin: 0em;
	padding: 0px;
	background: white;
	border: none;
}

header h1 a {
    background-color: #ccc;
    border-bottom: 1px solid #666;
    color: #222;
    text-align: center;
    display: block;
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 10px 0;
	height: 24px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
    text-decoration: none;
	text-shadow: 0px 1px 0px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, 
                                       from(#ccc), to(#999));
}


nav {
    display: block;
    text-align: center;
    padding-top: 0px;
	padding-bottom: 0em !important;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
	font-size: 10px !important;
	padding: 0em 1em 0em 1em;
}

nav li {
	padding: 0em;
	border: none !important;
	display: block !important;
	margin: 0em !important;
}
nav li a {
    display: block !important;
	background: white !important;
    text-align: center;	
    padding-left: 10px;
    padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
    width: auto;
    list-style-type: none;
	border: 1px solid #98AFC7;
	font-weight: bold;
}

nav li:first-child a {
	border-top: none;
}
nav li:last-child a {
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

nav li a:hover {
	background: #eee;
}

nav li.left {
	float: none;
	text-align: inherit;
	padding-left: 0px !important;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

nav ul {
	display: block !important;
	-webkit-padding-start: 0em;
	padding-left: 0px;
    padding-right: 0px;
	margin: 0em 0em 0px 0em !important;
	margin-right: 0px;
}

nav li.left:after {
	content: "";
}

body.home li.home a,
body.main li.main a,
body.about li.about a,
body.gizmos li.gizmos a,
body.courses li.courses a,
body.research li.research a,
body.cv li.cv a,
body.readings li.readings a,
body.assignments li.assignments a,
body.syllabus li.syllabus a
{ 
	background-color: #ffffff !important;
	color: black;
}

a {
	text-decoration: none;
}

#skip-link {
	display: none;
}

img.shadowed {
    display: block;
    margin: 0em auto 0em auto;
    width: 100%
}

#menuButton {
	display: hidden;
	background: white;
	padding: 5px;
	padding-right: 10px;
	font-size: 12px;
}



nav li.left {
	float: none;
	text-align: inherit;
	padding-left: inherit;
}

.flickr_badge_image a img {
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
}

img.gravatar {
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
}
