html {
min-height:none;
}

body {
     font-family: Helvetica, sans-serif;
	 margin: 0px !important;
	 margin-top: -1px !important;
	 font-size: 15px !important;
}

#content {
    margin: 0px auto;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
	-webkit-border-radius: 0px;
}

header {
	margin: 5px 0px;
	padding: 0px;
	padding-left: 10px;
	border: none;
    border-bottom: thin solid #98AFC7;
	-webkit-border-radius: 0px;
}

header h1 {
	font-size: 20px !important;
	display: block;
}

header h1 .extra {
	display: none;
}

h1, h2, h3, h4 {
	font-size: 14px !important;
}

nav {
    display: inline;
	text-align: left;
    font-size: 15px;
    margin: 0em;
    padding: 0em;
}

nav ul {
    margin-left: 0em;
	padding-left: 0em;
}

nav li {
	margin-left: 0px;
	margin-right: 0px;
    padding: 0px;
	text-align: left;
}

nav li a {
	padding: 5px 3px 0px 3px;
	-webkit-border-bottom-radius: 5px;	
}

nav li.left {
	display: none;
	float: inherit;
	text-align: left;
	padding-left: inherit;
	padding-right: inherit;
	margin-left: inherit;
	margin-right: inherit;
}

li.home, li.main {
	display: none;
}

body.home li.home a,
body.main li.main a,
body.about li.about a,
body.gizmos li.gizmos a,
body.courses li.courses a,
body.research li.research a,
body.cv li.cv a,
body.readings li.readings a,
body.assignments li.assignments a,
body.syllabus li.syllabus a,
body.discuss li.discuss a
{ 
	color: black;
}

a {
	text-decoration: none;
}

#skip-link {
	display: none;
}

img.shadowed {
    display: block;
    margin: 0em auto 0em auto;
    width: 100%
}

.flickr_badge_image a img {
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
}

img.gravatar {
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
}
