@page { 
		@bottom-center { 
        	content: counter(page);
    	}
		margin-top:1in;
		margin-bottom:1in;
		margin-left:1.25in;
		margin-right:1.25in
}


body
{color: black;
background: white;
 font-family: Garamond, Palatino, Times, Times New-Roman, serif;
 font-size: 12pt;
 }

#content
{
border: none;
background: white;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
-webkit-box-reflect: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
width: auto;
}


h1
{ 
font-size: 14pt;
font-weight: bold;
}


/* allow prince to generate bookmarks */
h1 { prince-bookmark-level: 1 }
h2 { prince-bookmark-level: 2 }
h3 { prince-bookmark-level: 3 }
h4 { prince-bookmark-level: 4 }
h5 { prince-bookmark-level: 5 }
h6 { prince-bookmark-level: 6 }


ul, ol {
	page-break-inside: avoid;
	page-break-before: never;
	}

A:link, A:visited {
	background: white; 
	color: black; 
	text-decoration: none;
   	}

/* #main a:link:before, #content a:visited:before {
   content: "[";
   }

#main a:link:after, #content a:visited:after {
   content: "] (" attr(href) ") ";
   }
*/

header, footer, #sub-foot {
	display: none;
}

.pdflink {
	display: none;
}
    
#dsq-global-toolbar, #dsq-like-tooltip, #dsq-new-post, #dsq-comments-title, .dsq-options, .dsq-comment-footer {
	display: none !important;
}
