html {
     min-height: 100%
}

body {
     font-family: Optima, 'Gill Sans', 'Lucida Sans', 'Lucida Grande', Corbel, Verdana, sans-serif;
     background: #336699;
     background: -moz-radial-gradient(45px 45px 45deg, 
        circle cover, #77AAFF 0%, #336699 100%, #556677 95%);
     background: -webkit-gradient(radial, 45 45, 10, 
        70% 80%, 3000, from(#77AAFF), color-stop(50%,#336699), to(#556677));
}

#content {
    width: auto;
    margin: 1em auto 2em auto;
    max-width: 33em;
    padding: 1em;
    text-align: left;
    background: white;
    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 10px 10px 8px #2B3856;
	-moz-box-shadow: #2B3856 10px 10px 8px;
}

header {
    display: block;
    border-bottom: thin solid #98AFC7;
    margin-bottom: 2em;
	background: -webkit-gradient(linear, left bottom, left top, from(#eee), color-stop(0.3, #fff), to(#fff));
	background: -moz-linear-gradient(bottom, #eee, #fff 30%);
	margin-left: -1em;
	padding-left: 1em;
	margin-right: -1em;
	padding-right: 1em;
}

header * {
    display: inline;
}

#backlink {
	display: block;
}

hr {
    display: none;
}

a {
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

#blog-title {
    padding: 0em;
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0em;
}

nav {
    display: block;
    width: auto;
    text-align: right;
    font-size: small;
    margin: 0em;
    padding: 0em;
}

nav ul {
    margin-left: 1em;
    padding-right: 0em;
    display: inline;
    width: auto;
}

nav li {
	margin-left: .2em;
	margin-right: 0em;
    padding: .1em .5em 0em .5em;
    display: inline;
    width: auto;
}

nav li.left {
	float: left;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

body.home li.home,
body.main li.main,
body.about li.about,
body.gizmos li.gizmos,
body.courses li.courses,
body.research li.research,
body.cv li.cv,
body.readings li.readings,
body.assignments li.assignments,
body.syllabus li.syllabus
{ 
	border: 1px solid #98AFC7;
	border-bottom: 1px solid #ffffff;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: white;
}

body.home li.home a,
body.main li.main a,
body.about li.about a,
body.gizmos li.gizmos a,
body.courses li.courses a,
body.research li.research a,
body.cv li.cv a,
body.readings li.readings a,
body.assignments li.assignments a {
	color: black;
}

#page {
	padding-left: 1em;
	padding-right: 1em;
}

article, #story {
    width: auto;
    margin: auto;
    padding-top: 0px;
    padding-bottom:1em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: thin dotted #98AFC7;
    display: block;
}

article:last-child, #story:last-child {
	border-bottom: none;
}

blockquote {
	border-left: 3px solid #ccc;
	padding-left: 1em;
	margin-left: 1em;
}

div.sitesearch p {
	text-align: center;
}

.postindex {
	font-size: 90%;
}

.postindex ul {
	padding-left: 1em;
	text-indent: -1em;
	list-style-type: none;
}

.postdate {
	color: #737CA1;
}

#story-title {
    text-align: left;
}

#story-content {
    
}

#story-info {
    padding-left: 0em;
    font-size: small;
    text-align:center;
}

#story-info li {
    padding-left: 0em;
    padding-right: 0em;
    display: inline; 
}

#story-info li:before {
    content: "|";
}

#story-info li:first-child:before { 
    content: ""; 
}

div.comment {
	padding: 0 .5em;
	border-bottom: thin dotted #98AFC7;
}

p.comment-attribution {
	font-size: small;
}

#comment-form {
	font-size: small;
}

#comment-box {
	width: 100%;
}

footer {
    display: block;
    margin-top: 1em;
	padding-top: 1em;
    border-top: thin solid #98AFC7;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), color-stop(0.5, #fff), to(#fff));
	background: -moz-linear-gradient(top, #eee, #fff 50%);
	margin-left: -1em;
	padding-left: 1em;
	margin-right: -1em;
	padding-right: 1em;
}

footer * {
	font-size: x-small;
	text-align: center;
}

footer a {
    color: #737CA1; 
    text-decoration: none;	
}

#categories {
    display: inline;
    font-size: small;
}

#categories ul {
    padding-left: 0em;
}

#categories li {
    padding-left: 1em;
    padding-right: 1em;
    display: inline;
    width: auto;
}

#skip-link {
   padding: 2px;
   background: white;
   float:right;
   text-align: right;
   font-size: x-small;
   text-decoration: none;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -webkit-box-shadow: 2px 2px 1px #2B3856;
   -moz-box-shadow: #2B3856 2px 2px 1px;

}

.flickr_badge_image {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 1em 2em 1em 2em; 
    max-width: 240px;
}

a img {
	border: none;
}

a:hover img{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

a:active img {
	filter:alpha(opacity=20);
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

.flickr_badge_image a img {
	border: thin;
	-webkit-box-shadow: 10px 10px 8px #CCC; 
	-moz-box-shadow: #CCC 10px 10px 8px;
	-webkit-transform: rotate(1deg); 
	-moz-transform: rotate(1deg);
}

img.gravatar {
	float:left; 
	padding-top:2px; 
	padding-right:1em; 
	padding-bottom:.5em;
	-webkit-transform: rotate(-2deg); 
	-moz-transform: rotate(-2deg);
}

#pdf-link {
        float:right;
        font-size:small;
}

h1, h2, h3 {
    font-weight: bold;
    font-size: medium;
    font-variant: small-caps;
}

h1 {
    font-variant: small-caps;
}

pre, code {
    text-align: left;
    font-family: 'Monaco', 'Courier', monospace;
    font-size: small;
    overflow: auto;
}

.strikeout {
	text-decoration: line-through;
}

ul {
    list-style-type: circle;
}

ul ul {
	padding-left: 1em;
	list-style-type: none;
}

hr {
    display: none;
}

ul.nobullets {
	padding-left: 1em;
	text-indent: -1em;
	list-style-type: none;
}

a.bml { 
	font-family: 'Lucida Grande', 'Lucida Sans', Optima, 'Gill Sans', Corbel, Verdana, sans-serif;
	font-weight: bold;
	border:thin solid #ccc; 
	padding: 2px; 
	vertical-align: 1px; 
	background: #eee; 
	text-decoration: none;   
	font-size: 70%; 
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

span.comments {
	font-weight: normal;
	font-variant: normal;
	font-size: 70%;
}

#recentcomments {
	font-size: 90%;
}

.shadowed {
-webkit-box-shadow: 10px 10px 8px #CCC; 
-moz-box-shadow: #CCC 10px 10px 8px;
}

