html {
     min-height: 100%
	 background: #3d3d3d;
}

body {
     font-family: Optima, 'Gill Sans', 'Lucida Sans', 'Lucida Grande', Corbel, Verdana, sans-serif;
     text-rendering: optimizeLegibility;
	 background: #3d3d3d;
	 min-height: 100%;
}

#content {
    width: auto;
    margin: 1em auto 2em auto;
    max-width: 33em;
    padding: 1em;
    text-align: left;
    background: white;
	-moz-border-radius-topright: 30px;
	border-top-right-radius: 30px;
}

header {
    display: block;
    border-bottom: thin solid #98AFC7;
    margin-bottom: 0px;
    margin-top: 0px;
	background: -webkit-gradient(linear, left bottom, left top, from(#eee), color-stop(0.3, #fff), to(#ffffff));
	background: -moz-linear-gradient(bottom, #eee, rgba(255,255,255,0) 30%);
	margin-left: -1em;
	padding-left: 1em;
	margin-right: -1em;
	padding-right: 2em;
	-moz-border-radius-topright: 30px;
	border-top-right-radius: 30px;
}

header * {
    display: inline;
}

#backlink {
	display: block;
}

hr {
    display: none;
}

a {
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

a:link {
	color: #3333BB;
}

#blog-title {
    padding: 0em;
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0em;
}

nav {
    display: block;
    width: auto;
    text-align: right;
    font-size: small;
    margin: 0em;
    padding: 0em;
}

nav ul {
    margin-left: 1em;
    padding-right: 0em;
    display: inline;
    width: auto;
}

nav li {
	margin-left: .2em;
	margin-right: 0em;
    padding: .1em .5em 0em .5em;
    display: inline;
    width: auto;
}

nav li.left {
	float: left;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

body.home li.home,
body.main li.main,
body.about li.about,
body.gizmos li.gizmos,
body.courses li.courses,
body.research li.research,
body.cv li.cv,
body.readings li.readings,
body.assignments li.assignments,
body.syllabus li.syllabus,
body.discuss li.discuss
{ 
	border: 1px solid #98AFC7;
	border-bottom: 1px solid #ffffff;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: white;
}

body.home li.home a,
body.main li.main a,
body.about li.about a,
body.gizmos li.gizmos a,
body.courses li.courses a,
body.research li.research a,
body.cv li.cv a,
body.readings li.readings a,
body.assignments li.assignments a,
body.syllabus li.syllabus a,
body.discuss li.discuss a
 {
	color: black;
}

#page {
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 2em;
}

article, #story {
    width: auto;
    margin: auto;
    padding-top: 0px;
    padding-bottom:1em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: thin dotted #98AFC7;
    display: block;
}

article:last-child, #story:last-child {
	border-bottom: none;
}

blockquote {
	border-left: 3px solid #ccc;
	padding-left: 1em;
	margin-left: 1em;
}

div.sitesearch p {
	text-align: center;
}

.postindex {
	font-size: 90%;
}

.postindex ul {
	padding-left: 1em;
	text-indent: -1em;
	list-style-type: none;
}

.postdate {
	color: #737CA1;
	font-family: Courier, monospace;
	font-size: 90%;
}

#story-title {
    text-align: left;
}

#story-content {
    
}

#story-info {
    padding-left: 0em;
    font-size: small;
    text-align:center;
}

#story-info li {
    padding-left: 0em;
    padding-right: 0em;
    display: inline; 
}

#story-info li:before {
    content: "|";
}

#story-info li:first-child:before { 
    content: ""; 
}

div.comment {
	padding: 0 .5em;
	border-bottom: thin dotted #98AFC7;
}

p.comment-attribution {
	font-size: small;
}

#comment-form {
	font-size: small;
}

#comment-box {
	width: 100%;
}

footer {
    display: block;
    margin-top: 1em;
	padding-top: 1em;
    border-top: thin solid #98AFC7;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), color-stop(0.5, #fff), to(#fff));
	background: -moz-linear-gradient(top, #eee, #fff 50%);
	margin-left: -1em;
	padding-left: 1em;
	margin-right: -1em;
	padding-right: 1em;
}

footer {
	font-size: x-small;
	text-align: center;
}

footer a {
    color: #737CA1; 
    text-decoration: none;	
}

#categories {
    display: inline;
    font-size: small;
}

#categories ul {
    padding-left: 0em;
}

#categories li {
    padding-left: 1em;
    padding-right: 1em;
    display: inline;
    width: auto;
}

#skip-link {
   padding: 2px;
   background: white;
   float:right;
   text-align: right;
   font-size: x-small;
   text-decoration: none;
   -moz-border-radius: 3px;
   -border-radius: 3px;
   -webkit-box-shadow: 2px 2px 1px #2B3856;
   -moz-box-shadow: #2B3856 2px 2px 1px;

}

.flickr_badge_image {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 1em 2em 1em 2em; 
    max-width: 240px;
}

a img {
	border: none;
	-webkit-transition: opacity .3s ease;
}

a:hover img{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

a:active img {
	filter:alpha(opacity=20);
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

.flickr_badge_image a img {
	border: thin;
	-webkit-box-shadow: 10px 10px 8px #CCC; 
	-moz-box-shadow: #CCC 10px 10px 8px;
	-webkit-transform: rotate(1deg); 
	-moz-transform: rotate(1deg);
}

img.gravatar {
	float:left; 
	padding-top:2px; 
	padding-right:1em; 
	padding-bottom:.5em;
	-webkit-transform: rotate(-2deg); 
	-moz-transform: rotate(-2deg);
}

.pdflink {
        float:right;
        font-size:small;
}

h1, h2, h3 {
	font-family: 'Lucida Sans';
    font-weight: bold;
    font-size: medium;
}

pre, code {
    text-align: left;
    font-family: 'Monaco', 'Courier', monospace;
    font-size: small;
    overflow: auto;
}

.strikeout {
	text-decoration: line-through;
	color: red;
}

ul {
    list-style-type: circle;
}

ul ul {
	padding-left: 1em;
	list-style-type: none;
}

dt {
	font-weight: bold;
	float: left;
	padding-right: 1em;
}

dt:after {
	content: ".";
}

dd {
}

hr {
    display: none;
}

ul.nobullets {
	padding-left: 1em;
	text-indent: -1em;
	list-style-type: none;
}

a.bml { 
	font-family: 'Lucida Grande', 'Lucida Sans', Optima, 'Gill Sans', Corbel, Verdana, sans-serif;
	font-weight: bold;
	border:thin solid #ccc; 
	padding: 2px; 
	vertical-align: 1px; 
	background: #eee; 
	text-decoration: none;   
	font-size: 70%; 
	-moz-border-radius: 4px;
	border-radius: 4px;
}

span.comments {
	font-weight: normal;
	font-variant: normal;
	font-size: 70%;
}

#recentcomments {
	font-size: 90%;
}

.shadowed {
-webkit-box-shadow: 10px 10px 8px #CCC; 
-moz-box-shadow: #CCC 10px 10px 8px;
}

.old-post {
	display: none;
}

.hidden {
	display: none;
}

#expand-switch, #collapse-switch {
	font-family: 'Lucida Grande', 'Lucida Sans', Optima, 'Gill Sans', Corbel, Verdana, sans-serif;
	font-weight: bold;
	border:thin solid #ccc; 
	padding: 2px; 
	vertical-align: 1px; 
	background: #eee; 
	text-decoration: none;   
	font-size: 60%; 
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#collapse-switch {
	display: none;
}

#proxify {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: rgb(170, 170, 170);
	color: rgb(255, 255, 255);
	font: normal normal normal 6pt/normal Arial;
	letter-spacing: 0.2em;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	-moz-border-bottom-left-radius: 4px 4px;
	border-bottom-left-radius: 4px 4px;
	cursor: pointer;
}

#proxify.pressed {
	background-color: #aaaaaa;
	color: blue;
}
#proxify.pressed:after {
	content: "(click to toggle)";
}

#sub-foot {
	text-align: center;
	font-size: x-small;
	font-style: italic;
	color: #AAAAAA;
}

#sub-foot a:link, #sub-foot a:visited {
	color: #AAAAAA;
}

#disqus_thread {
	padding-left: 1em !important;
	padding-right: 1em !important;
}
.dsq-tooltip-outer, #dsq-global-toolbar {
	display: none !important;
}
