---
layout: default
top: Gizmos
feed: atom.xml
section: gizmos
---

<header>
{% include nav-name.html %}
</header>
<hr>

<article>

<h1 class="emphnext">{{ page.title }}</h1>

{{ content }}

</article>

{% if page.comments %}
<!--Disqus Comments-->
<div id="disqus_thread"></div>
<script type="text/javascript">
   (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://davidsanson.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>
	<p><a href="http://davidsanson.disqus.com/?url=ref">View the discussion thread.</a></p>
</noscript>
{% endif %}

<!--Begin Disqus Comment Count Code-->

    <script type="text/javascript">
    //<![CDATA[
    (function() {
    	var links = document.getElementsByTagName('a');
    	var query = '?';
    	for(var i = 0; i < links.length; i++) {
    	if(links[i].href.indexOf('#disqus_thread') >= 0) {
    		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    	}
    	}
    	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/davidsanson/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
    </script>
    
<!--End Disqus Comment Count Code-->