---
layout: default
sections: [Syllabus, Readings, Assignments, Discuss]
---

{% assign base = '/670f2010' %}
{% assign sectiontitle = 'Philosophy 670' %}
<header>
{% include nav-course2.html %}
</header>
<!--<hr>
   <p id="proxify"><a id="proxifystatus" class="off">off campus links</a></p>
<hr>
-->
<div id="page">
    <hr>
    {% include proxifybutton.html %}
    </hr>
	{{ content }}
</div>

<!--Begin Disqus Comment Count Code-->

    <script type="text/javascript">
    //<![CDATA[
    (function() {
    	var links = document.getElementsByTagName('a');
    	var query = '?';
    	for(var i = 0; i < links.length; i++) {
    	if(links[i].href.indexOf('#disqus_thread') >= 0) {
    		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    	}
    	}
    	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/670/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
    </script>
    
<!--End Disqus Comment Count Code-->